---
layout: archive
author_profile: true
gallery-commencement:
  - url: 
    image_path: /assets/image/log/Commencement.jpg
    alt: "Commencement"
gallery-freediving:
  - url: 
    image_path: /assets/image/log/Freediving.jpg
    alt: "Freediving"    
gallery-homecoming:
  - url: 
    image_path: /assets/image/log/laboratory/IMG_2177.jpg
    alt: "1st Homecoming"
gallery-ganghwa:
  - url: 
    image_path: /assets/image/log/ganghwa/IMG_3599.jpg
    alt: "Galaxy at Ganghwa"
gallery-canmore1:
  - url: 
    image_path: /assets/image/log/canmore/IMG_2553_.jpg
    alt: "Stars at Canmore"
gallery-canmore2:
  - url: 
    image_path: /assets/image/log/canmore/IMG_2557.jpg
    alt: "Stars at Canmore"
gallery-changgeonggung-palace1:
  - url: 
    image_path: /assets/image/log/changgeonggung-palace/IMG_2779.jpg
    alt: "Changgeonggung palace at Seoul"
gallery-changgeonggung-palace2:
  - url: 
    image_path: /assets/image/log/changgeonggung-palace/IMG_2799.jpg
    alt: "Changgeonggung palace at Seoul"
gallery-cityscape:
  - url: 
    image_path: /assets/image/log/seoul-cityscape/Background03.jpg
    alt: "Seoul cityscape at Bldg. 301 in SNU"
gallery-snu:
  - url: 
    image_path: /assets/image/log/SNU/four_season_2.jpg
    alt: "SNU at Mt. Samsung"
gallery-sorae-ecology-park:
  - url: 
    image_path: /assets/image/log/sorae-ecology-park/IMG_2696.jpg
    alt: "Sorae ecology park at Incheon"
gallery-calgary:
  - url: 
    image_path: /assets/image/log/calgary/IMG_2583.jpg
    alt: "Calgary cityview at Calgary Tower"
gallery-seorak1:
  - url: 
    image_path: /assets/image/log/Seoraksan/PB090406.jpg
    alt: "Dinosaur Ridge"
gallery-seorak2:
  - url: 
    image_path: /assets/image/log/Seoraksan/IMG_0135.jpg
    alt: "Autumnal tints of Seoraksan"
gallery-seorak3:
  - url: 
    image_path: /assets/image/log/Seoraksan/PB090387_.jpg
    alt: "Ilwalobongbyeong: A Folding Screen"
gallery-jeju:
  - url: 
    image_path: /assets/image/log/Jeju/P8022596.jpg
    alt: "A shore of Jeju"
---

<h2>Hobby</h2>
{% include gallery id="gallery-freediving" caption="" %}

<h2>Ph.D. Commencement</h2>
{% include gallery id="gallery-commencement" caption="" %}

<h2>1st Homecoming</h2>
{% include gallery id="gallery-homecoming" caption="" %}

<h2>Ganghwa-do, Incheon, Korea</h2>
{% include gallery id="gallery-ganghwa" caption="" %}

<h2>Changgyeonggung Palace, Seoul, Korea</h2>
{% include gallery id="gallery-changgeonggung-palace1" caption="" %}
{% include gallery id="gallery-changgeonggung-palace2" caption="" %}

<h2>Sorae Ecology Park, Incheon, Korea</h2>
{% include gallery id="gallery-sorae-ecology-park" caption="" %}

<h2>Canmore, Alberta, Canada</h2>
{% include gallery id="gallery-canmore1" caption="" %}
{% include gallery id="gallery-canmore2" caption="" %}

<h2>Centre Street South, Calgary, Alberta, Canada</h2>
{% include gallery id="gallery-calgary" caption="" %}

<h2>Seoul, Korea</h2>
{% include gallery id="gallery-cityscape" caption="" %}

<h2>Seoul National University, Seoul, Korea</h2>
{% include gallery id="gallery-snu" caption="" %}

<h2>Mt. Seoraksan, Gangwon, Korea</h2>
{% include gallery id="gallery-seorak3" caption="" %}
{% include gallery id="gallery-seorak1" caption="" %}
{% include gallery id="gallery-seorak2" caption="" %}

<h2>A seashore, Jeju, Korea</h2>
{% include gallery id="gallery-jeju" caption="" %}
